<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.google.android.apps.authenticator"
      android:versionName="0.54"
      android:versionCode="54">
  <uses-sdk android:minSdkVersion="4" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <application android:label="@string/app_name_short"
               android:icon="@drawable/authenticator250"
               android:theme="@style/AuthenticatorTheme"
               android:debuggable="false" >

    <activity android:name=".AuthenticatorActivity"
              android:label="@string/app_name"
              android:screenOrientation="portrait" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="otpauth" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="totp" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="https"
              android:host="www.google.com"
              android:pathPrefix="/accounts/KeyProv" />
      </intent-filter>
    </activity>

<!-- 
	<receiver android:name=".AuthenticatorWidget" android:label="@string/app_name">
   		<intent-filter>
       		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
       		<action android:name="android.intent.action.LAUNCHER" />
   		</intent-filter>
   		<meta-data 
   			android:name="android.appwidget.provider" 
   			android:resource="@xml/authenticator_widget_provider" />
	</receiver>
    <receiver android:name=".AuthenticatorWidget$WidgetReceiver" >
      <intent-filter>
        <action
          android:name="com.google.android.apps.authenticator.AuthenticatorWidget.APPWIDGET_UPDATE" />
      </intent-filter>
    </receiver>
    <service android:name=".AuthenticatorWidget$UserPinService" />
-->
    
    <activity android:name=".EnterKeyActivity"
              android:label="@string/enter_key_title"
               android:screenOrientation="portrait" />
    <activity android:name=".CheckCodeActivity"
              android:label="@string/check_code_title"
               android:screenOrientation="portrait" />
  </application>
</manifest>
