libpam/.deps/
libpam/.libs/
libpam/src/.deps/
libpam/src/.libs/

libpam/Makefile
libpam/Makefile.in
libpam/aclocal.m4
libpam/autom4te.cache/
libpam/compile
libpam/config.guess
libpam/config.h
libpam/config.h.in
libpam/config.log
libpam/config.status
libpam/config.sub
libpam/configure

libpam/contrib/rpm.spec
!libpam/contrib/rpm.spec.in

libpam/depcomp
libpam/google-authenticator
libpam/install-sh
libpam/libtool
libpam/ltmain.sh
libpam/m4/
libpam/missing

libpam/*.la
libpam/*.lo
libpam/*.o
libpam/src/*.la
libpam/src/*.lo
libpam/src/*.o
libpam/src/.dirstamp

libpam/tests/.deps/
libpam/tests/.dirstamp
libpam/tests/*.o
libpam/tests/pam_google_authenticator_unittest
libpam/tests/pam_google_authenticator_unittest.log
libpam/tests/pam_google_authenticator_unittest.trs

libpam/examples/.deps/
libpam/examples/.dirstamp
libpam/examples/demo
libpam/examples/*.o

libpam/stamp-h1
libpam/test-driver
libpam/test-suite.log
mobile/blackberry/bin/
mobile/blackberry/build/
mobile/blackberry/deliverables/
mobile/blackberry/release/
mobile/blackberry/local\.properties
mobile/blackberry/LogFile\.txt
mobile/blackberry/\.settings/
mobile/blackberry/\.tmp/
mobile/blackberry/\.locale_interfaces/
mobile/blackberry/\.project
mobile/blackberry/\.classpath
mobile/blackberry/.*\.cod
mobile/blackberry/.*\.csl
mobile/blackberry/.*\.cso
mobile/blackberry/.*\.debug
mobile/blackberry/.*\.jad
mobile/blackberry/.*\.jar
mobile/blackberry/.*\.rapc
mobile/blackberry/src/com/google/authenticator/blackberry/Build.java
mobile/.metadata/
